{% extends 'base.html' %}
{% load static %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<div class="container">
    <!-- Растянутое большое фото -->
    <div class="mb-4">
        <img src="{% static 'SAMserv/images/orders.jpg' %}" class="img-fluid w-100 rounded" alt="Заказы">
    </div>

    <h1>Заказы</h1>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order-detail' order.id %}">
                    Заказ #{{ order.id }} — {{ order.client }}
                </a>
                <span class="badge bg-secondary">{{ order.get_status_display }}</span>
            </li>
        {% empty %}
            <li>Нет заказов</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--order_list-->