{% extends 'base.html' %}
{% block title %}Клиенты{% endblock %}
{% block content %}
<div class="container">
    <h1>Клиенты</h1>
    <ul class="list-group">
        {% for client in clients %}
            <li class="list-group-item">
                {{ client.last_name }} {{ client.first_name }}
                <span class="text-muted">({{ client.phone_number }})</span>
            </li>
        {% empty %}
            <li class="list-group-item">Нет клиентов</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}